@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

a:link,a:visited,a:active, a:hover{text-decoration:none;}

html,body{height:100%;}

body{font-family: 'Nanum Gothic', sans-serif;font-size:14px;margin:0;height:0;}

input{border:1px solid #d1d1d1;line-height:22px;}

input:focus{border:1px solid #333;}

input[type="button"]{cursor:pointer;}

.f12{font-size:12px;}

.fC666{color:#666;}

.AlignRight{text-align:right;}

.MAR10{margin-right:10px;}

.MAT10{margin-top:10px;}

.MAT20{margin-top:20px;}

.MAT30{margin-top:30px;}

.W100P{width:100%;}

.W95P{width:95%;}

.W90P{width:90%;}

h1.tit{font-size:18px;line-height:18px;padding:0 0 0 10px;position:relative;}

h1.tit:before{content:"|";position:absolute;top:0;left:0;color:#0066cc;}

h2.tit{font-size:16px;}

.blet{color:#ff6600;}

.table_row{border-spacing:0;border-collapse:collapse;border-top:1px solid #d1d1d1;}

.table_row th, .table_row td{border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;padding:10px;font-weight:normal;color:#333;}

.table_row td:last-child{border-right:1px solid #d1d1d1;}

.table_row th{text-align:right;background-color:#fafafa;}

/*로그인*/

.loginBox{width:370px;margin:15% auto;}

.loginBox .top{border:1px solid #d1d1d1;padding:40px 60px;background-color:#fafafa;box-sizing:border-box;}

.loginBox .bottom{margin:30px 0;}

.loginBox .bottom:after{content:"";display:block;clear:both;}

.loginBox .bottom .left{float:left;width:60%;margin:7px 0 0 0;}

.loginBox .bottom .right{float:right;width:40%;}

.loginBox .btnLogin{display:inline-block;width:235px;border:1px solid #0066cc;background-color:#0066cc;color:#ffffff;margin:10px auto;padding:7px 0;text-align:center}

.loginBox .btnJoin{display:inline-block;width:100%;border:1px solid #4e4e4e;background-color:#4e4e4e;color:#ffffff;padding:7px 0;text-align:center}

/*회원가입*/

.joinBox{width:800px;margin:30px auto;}

.joinBox .agreeBox{width:100%;height:120px;overflow-y:auto;border:1px solid #d1d1d1;background-color:#fafafa;text-align:justify;padding:15px;box-sizing:border-box;}

.joinBox .btnDup{display:inline-block;width:100px;border:1px solid #4e4e4e;background-color:#4e4e4e;color:#ffffff;padding:1px 0;text-align:center}

/*버튼존--공통사용*/

.btnZone{margin:20px 0 0 0;text-align:center;}

.btnZone .btnOk{display:inline-block;margin:0 auto;border:1px solid #0066cc;background-color:#0066cc;color:#ffffff;padding:10px 20px;text-align:center}

.btnZone .btnC{display:inline-block;margin:0 auto;border:1px solid #4e4e4e;background-color:#4e4e4e;color:#ffffff;padding:10px 20px;text-align:center}

.btnSmall{width:auto !important;padding:5px 15px !important;}

/*사진업로드*/

.uploadBox{width:800px;margin:0 auto;text-align:center;border:1px solid #d1d1d1;background-color:#fafafa;box-sizing:border-box;padding:40px;}

.uploadBox .btnUp{display:inline-block;margin:0 auto;border:1px solid #0066cc;background-color:#0066cc;color:#ffffff;padding:10px 20px;text-align:center}

.picPopBox{padding:10px;}

.file_err_text{width:300px;margin:10px auto;color:red;font-weight:bold;text-align:justify;}
